beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.6
cloudscraper==1.2.58
colorama==0.4.4
idna==3.2
Pillow==9.0.0
pyparsing==2.4.7
requests==2.26.0
requests-toolbelt==0.9.1
soupsieve==2.2.1
tqdm==4.62.3
urllib3==1.26.7